doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/common.css')
			
		block content

		script(src="/javascripts/jquery-3.2.1.js")
		script(src="/javascripts/music.js")
		script(src="/javascripts/main.js")