extends layout

block content
	h1.player_logo
		a(href="", target="_blank")
			img(src="../images/player_logo.png").player_logo__pic
	.mod_player_login
		.player_login_
			a(href="javascript:;").player_login__link
			a.player_login__out.js_logout 退出
			a.player_login__link
				span.player_login__txt 设置
	.mod_player
		.player__hd
		.player__bd
			<!-- 默认 -->
			.player_style_normal.js_full_box
				.mod_songlist_toolbar
					a(href="javascript:;").mod_btn.js_all_like
						i.mod_btn_green__icon_like 收藏
						span.mod_btn__border
					a(href="javascript:;").mod_btn.js_all_fav
						i.mod_btn_green__icon_add 添加到
						span.mod_btn__border
					a(href="javascript:;").mod_btn.js_all_down
						i.mod_btn_green__icon_down 下载
						span.mod_btn__border
					a(href="javascript:;").mod_btn.js_all_delete
						i.mod_btn_green__icon_delete 删除
						span.mod_btn__border
					a(href="javascript:;").mod_btn.js_all_deleted
						i.mod_btn_green__icon_clear 清空列表
						span.mod_btn__border
				.sb_scrollable.sb_main.sb_viewport
				.sb_mod_song_info#song_info
			<!-- 纯净模式 -->
			.player_style_only.js_simp_box
		.player__ft#opbanner
			a(href="javascript:;", title="alt+").btn_big_prev
				span.icon_txt 上一首
			a(href="javascript:;", title="[空格]").btn_big_play#btn_play
				span.icon_txt 播放
			a(href="javascript:;", title="alt").btn_big_next
				span.icon_txt 下一首
			.player_music
			div
				a(href="javascript:;", title="")
					span.icon_txt 列表循环
			a(href="javascript:;", title="").btn_big_
				span.icon_txt
			a(href="javascript:;", title="").btn_big_
				span.icon_txt
			a(href="javascript:;", title="").btn_big_
				span.icon_txt
		.bg_player_mask
		.bg_player
	style.
		.player_logo {
			position: absolute;
			top: 20px;
			left: 20px;
			z-index: 3;
		}
		.player_logo__pic {
			width: 78px;
			height: 21px;
			opacity: .3;
			filter: alpha(opacity=30);
		}
		.mod_player_login {
			position: absolute;
			top: 20px;
			right: 20px;
			z-index: 9px;
			text-align: right;
			padding-right: 28px;
		}
		.player_login__link {
			position: relative;
			float: left;
			margin-right: 15px;
			font-size: 0;
		}
		.player_login__link .player_login__txt {
			display: inline-block;
			max-width: 124px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			vertical-align: top;
			font-size: 14px;
		}
		.mod_player,
		.mod_player a {
			color: #bdbdbe;
			color: rgba(225,225,225,.8)
		}
		.mod_player {
			height: 100%;
			margin: 0 7.638889%;
			position: relative;
			z-index: 3;
		}
		.player__bd {
			position: absolute;
			top: 11%;
			bottom: 18%;
			width: 100%;
			min-height: 328px;
			cursor: default;
		}
		.player_style_normal {
			margin-right: 440px;
		}
		.mod_songlist_toolbar {
			margin-left: 1px;
		}
		.mod_songlist_toolbar {
			position: relative;
			margin-bottom: 20px;
			font-size: 0;
		}
		.mod_songlist_toolbar .mod_btn {
			min-width: 122px;
			text-algin: center;
		}
		.mod_player .mod_btn {
			opacity: .8;
			filter: alpha(opacity=80);
			border-color: rgba(255,255,255,.2);
		}
		.mod_btn {
			border: 1px solid #c9c9c9;
			color: #333;
		}
		.mod_btn .mod_btn_green {
			border-radius: 2px;
			font-size: 14px;
			margin-right: 6px;
			padding: 0 23px;
			height: 38px;
			line-height: 38px;
			display: inline-block;
			white-space: nowrap;
			box-sizing: border-box;
			overflow: hidden;
		}
		.mod_player .mod_btn,
		.mod_player .mod_btn:active,
		.mod_player .mod_btn:hover {
			background-color: transparent;
			color: #fff;
		}
		.mod_player .mod_btn i {
			opacity: .6;
			filter: alpha(opacity=60);
		}
		.mod_btn_green__icon_like {
			width: 16px;
			height: 16px;
			background-position: -60px -20px;
			vertical-align: -4;
		}
		.mod_btn__border {
			display: none;
		}
		.mod_btn__icon_add, .mod_btn__icon_batch, .mod_btn__icon_copy, .mod_btn__icon_delete, .mod_btn__icon_down, .mod_btn__icon_edit, .mod_btn__icon_input, .mod_btn__icon_less, .mod_btn__icon_like, .mod_btn__icon_manage, .mod_btn__icon_menu, .mod_btn__icon_more, .mod_btn__icon_new, .mod_btn__icon_no, .mod_btn__icon_play, .mod_btn__icon_qr, .mod_btn__icon_upload, .mod_btn__icon_yes, .mod_btn_green__icon_add, .mod_btn_green__icon_clear, .mod_btn_green__icon_delete, .mod_btn_green__icon_down, .mod_btn_green__icon_like, .mod_btn_green__icon_more, .mod_btn_green__icon_play, .mod_btn_green__icon_radio {
			display: inline-block;
			margin-right: 6px;
			background-image: url(/images/icon_sprite.png);
			background-image: -webkit-image-set(url(/images/icon_sprite.png));
		}