	//- .mod_search
	//- 	.mod_search_input
	//- 		input.search_input__input(type='text', placeholder="搜索关键字", aria-label="请输入搜索内容")
	//- 		button.search_input__btn
	//- 			i.icon-search
	//- 			span.icon-txt 搜索		
	//- 	.mod_search_tips
	//- 		a(href="javascript:;").search_tips_item 
	//- 		a(href="javascript:;").search_tips_item
	//- 		a(href="javascript:;").search_tips_item
	//- 		a(href="javascript:;").search_tips_item
	//- 		a(href="javascript:;").search_tips_item
	
	//- .main
	//- 	.main__inner
	//- 		<!--搜索结果-->
	//- 		.result

	//- style.
	//- 	.mod_search {
	//- 		position: relative;
	//- 		height: 247px;
	//- 		background-position: 50%;
	//- 		background-size: cover;
	//- 	}
	//- 	.mod_search .mod_search_input,
	//- 	.mod_search .search_input__input {
	//- 		width: 554px;
	//- 		height: 50px;
	//- 	} 
	//- 	.mod_search .mod_search_input {
	//- 		border: 0 none;
	//- 		padding: 0 70px 0 15px;
	//- 		line-height: 50px;
	//- 		left: 50%;
	//- 		top: 85%;
	//- 		margin-top: 0;
	//- 		margin-left: -322px;
	//- 		background: #fff;
	//- 	}
	//- 	.mod_search .search_input__btn {
	//- 		width: 50px;
	//- 		height: 50px;
	//- 		border-top-right-radius: 3px;
	//- 		border-bottom-right-radius: 3px;
	//- 	}
	//- 	.main {
	//- 		z-index: 2;
	//- 	}
	//- 	.main::after,
	//- 	.section_inner::after {
	//- 		content: "";
	//- 		display: block;
	//- 		clear: both;
	//- 	}
