extends layout

block content
	.main
		.mod_singer_tag
			.singer_tag__list.js_area
				a(href="javascript:;").singer_tag__item
				a(href="javascript:;", hidefocus).singer_tag__item 华语男
				a(href="javascript:;", hidefocus).singer_tag__item 华语女
				a(href="javascript:;", hidefocus).singer_tag__item 华语组合
				a(href="javascript:;", hidefocus).singer_tag__item 韩国男
				a(href="javascript:;", hidefocus).singer_tag__item 韩国女
				a(href="javascript:;", hidefocus).singer_tag__item 韩国组合
				a(href="javascript:;", hidefocus).singer_tag__item 日本男
				a(href="javascript:;", hidefocus).singer_tag__item 日本女
				a(href="javascript:;", hidefocus).singer_tag__item 日本组合
				a(href="javascript:;", hidefocus).singer_tag__item 欧美男
				a(href="javascript:;", hidefocus).singer_tag__item 欧美女
				a(href="javascript:;", hidefocus).singer_tag__item 欧美组合
				a(href="javascript:;", hidefocus).singer_tag__item 乐团
				a(href="javascript:;", hidefocus).singer_tag__item 演奏家
				a(href="javascript:;", hidefocus).singer_tag__item 作曲家
				a(href="javascript:;", hidefocus).singer_tag__item 指挥家
				a(href="javascript:;", hidefocus).singer_tag__item 其它
			.singer_tag__list.js_letter
				a(href="")
				a(href="")
				a(href="")
				a(href="")
				a(href="")
				a(href="")
				a(href="")
				a(href="")
				a(href="")
				a(href="")
				a(href="")
				a(href="")
				a(href="")
				a(href="")
				a(href="")
				a(href="")
				a(href="")
				a(href="")
				a(href="")
				a(href="")
				a(href="")
				a(href="")
				a(href="")
				a(href="")
				a(href="")
		#mod_singerlist
			.mod_singer_list
				ul.singer_list__list
			ul.singer_list_txt
			.mod_page_nav.js_pager