a(href="javascript:;").btn_bottom_top.sprite.js_btn_top
	span.icon_txt 返回顶部
a(href="javascript:;").btn_bottom_feedback.sprite.js_btn_feedback
	span.icon_txt 意见反馈
a(href="javascript:;").btn_bottom_player.js_openplayer
	span.icon_txt 播放器
	
style.
	.btn_bottom_top,
	.btn_bottom_feedback,
	.btn_bottom_player {
		position: fixed;
		right: 40px;
		width: 50px;
		height: 50px;
		background-image: url(/images/icon_sprite.png);
		background-image: -webkit-image-set(url(/images/icon_sprite.png));
	}
	.btn_bottom_top {
		bottom: 142px;
		background-position: 0 -120px;
	}
	.btn_bottom_feedback {
		bottom: 91px;
		background-position: -100px -120px;
	}
	.btn_bottom_player {
		bottom: 40px;
		background-position: -150px -280px;		
	}	
	.btn_bottom_feedback:hover,
	.btn_bottom_player:hover {
		background: #31c27c;
		color: #fff;
	}
	.btn_bottom_feedback:hover .icon_txt {
		line-height: 16px;
		padding: 9px;
	}
	.btn_bottom_player:hover .icon_txt {
		line-height: 50px;
	}
	.btn_bottom_feedback:hover .icon_txt,
	.btn_bottom_player:hover .icon_txt {
		display: block;
		font-size: 12px;
		text-align: center;
	}
