.mod_page_nav.js_page
	strong.current 1
	a(href="javascript:;").js_pageindex 2
	a(href="javascript:;").js_pageindex 3
	a(href="javascript:;").js_pageindex 4
	strong.more ...	
	a(href="javascript:;").js_pageindex 5526
	a(href="javascript:;", title="下一页").next.js_pageindex
		span &gt;
style.
	.mod_page_nav {
		clear: both;
		text-align: center;
		margin-bottom: 60px;
		font-size: 0;
	}
	.mod_page_nav a {
		color: #a2a2a2;
	}
	.mod_page_nav .current,
	.mod_page_nav a:hover {
		color: #fff;
		background-color: #31c27c;
	}
	.mod_page_nav a,
	.mod_page_nav strong {
		font-size: 16px;
		font-weight: 400;
		display: inline-block;
		line-height: 50px;
		margin: 0 5px;
		padding: 0 21px;
		box-sizing: border-box;
		min-width: 24px;
	}